*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-[0-9]*
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

# ignore all logs and temp files
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# ignore key files for decrypting credentials and more
/config/initializers/secret_token.rb
/config/*.key

# dotenv, dotenv-rails (allows .env.example in version control)
.env
.env.development
.env.testing
.env.production
.env*.local

# environment normalization
/.bundle
/vendor/bundle

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

# ignore pow environment settings
.powenv

# ignore Byebug command history file
.byebug_history

# ignore node_modules
node_modules/

# ignore precompiled JavaScript packs
/public/packs
/public/packs-test
/public/assets

# ignore Yarn files
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# ignore uploaded files in development
/storage/*
!/storage/.keep
/public/uploads

/app/assets/builds/*
!/app/assets/builds/.keep
