<% if current_user %>
  <button class="w-[42] h-[42] ring-1 ring-slate-300 rounded-md cursor-pointer"
          type="button"
          data-demo--dropdown-target="button"
          data-action="demo--dropdown#toggle"
          aria-haspopup="true"
          aria-expanded="false">

    <%= gravatar_image_tag current_user.email,
                           alt: current_user.email,
                           class: "rounded-md" %>
  </button>
<% else %>
  <button class="w-[42] h-[42] p-3 bg-slate-800 hover:bg-slate-900 active:bg-slate-950 ring-1 ring-slate-800 hover:ring-slate-900 active:ring-slate-950 text-sm rounded-md cursor-pointer"
          type="button"
          data-demo--dropdown-target="button"
          data-action="demo--dropdown#toggle"
          aria-haspopup="true"
          aria-expanded="false">

    <%= fas_icon("bars") %>
  </button>
<% end %>
