<%= turbo_frame_tag "mac-guffin-search" do %>
  <% if @search_unavailable %>
    <p class="mx-4 sm:mx-0 mt-2 text-sm text-amber-200">Search index isn't ready. Run <code>bin/rails typesense:reindex</code>.</p>
  <% end %>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 sm:gap-4 mx-4 sm:mx-0">
    <%= render @mac_guffins %>
  </div>

  <%= render "navigation" %>
<% end %>
