<div class="w-full sm:ml-11 mt-[76] mb-[52] pb-[92] text-white overflow-y-scroll">
  <div class="max-w-[650] mx-auto">
    <h1 class="mx-3 sm:mx-0 mt-8 sm:mt-[50] mb-4 font-semibold text-3xl tracking-tight">Secrets</h1>
    <%= image_tag "demo/secret_bookcase.jpg", class: "rounded-lg", size: "650", alt: "Opened secret door inside library" %>
    <p class="p-1 text-xs text-right">
      Photo by
      <a class="hover:text-amber-400 underline!" href="https://unsplash.com/@usinglight?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Stefan Steinbauer</a>
      on
      <a class="hover:text-amber-400 underline!" href="https://unsplash.com/photos/opened-secret-door-inside-library-HK8IoD-5zpg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </p>
  </div>
</div>
