<div class="absolute top-14 left-1/2 transform -translate-x-1/2 w-3/4 sm:w-full max-w-[325] z-20">
  <% flash.each do |type, message| %>
    <% next if message.blank? %>

    <%= pom_flash(variant: type.to_sym) do %>
      <%= message %>
    <% end %>
  <% end %>
</div>
