<%
  item_classes ||= "flex items-center gap-2 px-4 py-2 text-sm hover:bg-slate-100 hover:no-underline!"
  path         ||= root_path
  icon         ||= "home"
  text         ||= "Home"
%>

<%= link_to path,
  class: item_classes,
  role: "menuitem",
  data: { action: "dropdown#close" } do %>
  <%= fas_icon(icon) %>
  <span><%= text %></span>
<% end %>
