<footer class="fixed bottom-0 w-full p-4 bg-slate-900 text-white">
  <p class="md:mx-11 text-center text-sm">
    <a class="hover:text-yellow-400 underline!" href="https://superstack.fancyenchiladas.net/rails/"><%= t("title") %></a>
    was built with <%= rainbow("moxie") %> by
    <a class="hover:text-yellow-400 underline!" href="https://nickschneble.xyz/">Nick Schneble</a>
  </p>
</footer>
